html {
  font-size:62.5% !important;
  //font-size:50% !important;

  @include respond(phone) {
    font-size:55% !important;
  }
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  

  src: local(-apple-system), local(BlinkMacSystemFont),
    local("Segoe UI"), local("Roboto"), local("Oxygen"),
    local("Ubuntu"), local("Cantarell"), local("Fira Sans"),
    local("Droid Sans"), local("Helvetica Neue"), sans-serif;
}

#app {
  font-family: system;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  font-size:1rem;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: system;
  font-size: 1.6rem;
  color: $text;
  background:white;
}
body .dark {
  color: $textBright;
}

.primary--text {
  color:$primary !important;
}
.dark .primary--text {
  color:$primaryLight !important;
}
.text {
  color:$text !important;
}
.dark .text {
  color:$textBright !important;
}

a {
  cursor: pointer;
  color: $primary;
}
.dark a {
  cursor: pointer;
  color: $primaryLight;
}

strong {
  font-weight: 600;
}