@font-face {
  font-family: "EvelethThin";
  src: url('./fonts/EvelethThin/font.woff2') format('woff2'), url('./fonts/EvelethThin/font.woff') format('woff');
}
@font-face {
  font-family: "EvelethDotRegular";
  src: url('./fonts/EvelethDotRegular/font.woff2') format('woff2'), url('./fonts/EvelethDotRegular/font.woff') format('woff');
}
@font-face {
  font-family: "EvelethDotLight";
  src: url('./fonts/EvelethDotLight/font.woff2') format('woff2'), url('./fonts/EvelethDotLight/font.woff') format('woff');
}




html {
  font-size:62.5% !important;
  //font-size:50% !important;

  @include respond(phone) {
    font-size:55% !important;
  }
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  

  src: local(-apple-system), local(BlinkMacSystemFont),
    local("Segoe UI"), local("Roboto"), local("Oxygen"),
    local("Ubuntu"), local("Cantarell"), local("Fira Sans"),
    local("Droid Sans"), local("Helvetica Neue"), sans-serif;
}

#app {
  font-family: system;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  font-size:1rem;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: system;
  font-size: 1.6rem;
  color: $text;
  background:white;
}
body .dark {
  color: $textBright;
}

.primary--text {
  color:$primary !important;
}
.dark .primary--text {
  color:$primaryLight !important;
}
.text {
  color:$text !important;
}
.dark .text {
  color:$textBright !important;
}

a {
  cursor: pointer;
  color: $accent;
}
.dark a {
  cursor: pointer;
  color: $accent;
}

strong {
  font-weight: 600;
}


h1 {
  font-size: 4vw;
  line-height: 1.1;  
  font-family: EvelethDotLight;
  letter-spacing: 0.2rem;
}
h3 {
  font-size: 2.2vw;
  line-height: 1.1;
  font-family: EvelethDotLight;  
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.35;
  padding-bottom: 1rem;
}