.footer {
  position:absolute;
  bottom:0;
  top: calc(100% - 6rem);
  width: 100%;
  background: white;
  color:$text;
  a {
    text-decoration: none;
  }
  @include respond(phone) {
    .social {
      padding:2rem 0 1rem 0;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
    font-family: "EvelethThin";
    
    padding:1rem 1rem;
    @include respond(phone) {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    .waves {
      display: inline;
    }
    // .waves:not(:first-of-type) {
    //   @include respond(phone) {
    //     display: none;
    //   }
    // }
    svg {
      display: inline;
      height: 4rem;
      margin:0;
      // @include respond(phone) {
      //   display: none;
      // }
    }
  }
  &__container {
    @include container;
    button {
      &:hover {
       transform: none;
          box-shadow: none;
      }
    }
  }
  .logo {
    height:4rem;
    margin-bottom: 1rem;
    @include respond(phone) {
      height:3.2rem;
    }
  }
}

.dark {
  .footer {
    background-color:$dark2;
    color:$textBright;
  }
}