.footer {
  position:absolute;
  bottom:0;
  top: calc(100% - 6rem);
  width: 100%;
  background-color: white;
  color:$text;
  a {
    text-decoration: none;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "EvelethThin";

    // @include respond(phone) {
    //   background-image: url("https://firebasestorage.googleapis.com/v0/b/jump-staffing.appspot.com/o/waves.svg?alt=media&token=22ea97ff-d435-4f5e-b7ed-18a5ed4f5782");
    //   background-repeat: repeat-x;
    // }
    padding:1rem 1rem;
    .waves {
      display: inline;
    }
    .waves:not(:first-of-type) {
      @include respond(phone) {
        display: none;
      }
    }
    svg {
      display: inline;
      height: 4rem;
      margin:0;
      // @include respond(phone) {
      //   display: none;
      // }
    }
  }
  &__container {
    @include container;
    button {
      &:hover {
       transform: none;
          box-shadow: none;
      }
    }
  }
  .logo {
    height:4rem;
    margin-bottom: 1rem;
    @include respond(phone) {
      height:3.2rem;
    }
  }
}

.dark {
  .footer {
    background-color:$dark2;
    color:$textBright;
  }
}