.hero {
  //position:relative;
  position:absolute;
  height: 100vh;
  width: 100%;
  overflow:hidden;
  background-color:$accent;
  video {
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
  &__text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:5vw;
    width:90vw;
    color:white;
    mix-blend-mode: difference;
    h1 {
      font-size: 12vw;
      font-weight: 900;
      line-height: 1;    
    }
    h3 {
      font-size: 4vw;
      font-weight: 900;
      line-height: 1;
    }
  }
  &__buttons {
    position:absolute;
    bottom:0;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding:1rem 2rem;
    svg {
      display: inline;
      height: 4rem;
      margin:0;
    }
  }
}