.hero {
  //position:relative;
  position:absolute;
  height: 100vh;
  width: 100%;
  overflow:hidden;
  background-color:$accentDark;
  video {
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
  &__text {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:5vw;
    width:90vw;
    color:white;
    mix-blend-mode: difference;
    h1 {
      font-size: 8.4vw;
      line-height: 1.1;  
      font-family: EvelethDotLight;
      letter-spacing: 0.2rem;
    }
    h3 {
      font-size: 3vw;
      line-height: 1.1;
      font-family: EvelethDotLight;  
      letter-spacing: 0.2rem;
    }
  }
}